/*color of page*/

body{
    background-color: hsl(217, 54%, 11%);
}

/*Construction of the box : Size, color, rounded edge, color*/
.box {
  width: 305px;
  height: 550px;
  margin-top:200px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
 background :  hsl(216, 50%, 16%);
 border-radius: 15px 15px 15px 15px;
 font-size: 20px;
 color : hsl(0, 0%, 100%);
}
/*Font and weight for p*/
p,.tailleEth{
  font-family:'Outfit', sans-serif;
  font-weight: bold;
}
/*Font, color  and weight for class Taille*/
  p.Taille {
    font-family: 'Outfit', sans-serif;
    font-size : 18px;
    color : hsl(215, 19%, 54%);
    font-weight: 300;
  }
  /*Size and rounded edge for image ice cube*/
  img {
    max-width: 305px; 
    height: 305px;
    border-radius: 10px 10px 10px 10px;
  }
  /*Size logo ethereum*/
  .ether {
    max-width: 18px; 
    height: 18px;
    position: relative;
    bottom: 0.5em;
    /*margin-bottom: 0px;
    margin-top: 5px;*/
    
    }
 /*Size price eth*/
 .tailleEth {
  font-size: 15px; 
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  left: 1em;
  
  
 
 }
 /*color and siz horizontal line*/
 hr {
  background-color: hsl(215, 32%, 27%);
  height: 1px;
  border: none;
  position: relative;
  bottom: 7.8em;

   
 }
 /*Size, color and rounded edge* image avatar*/
 .avatar{
  max-width: 30px; 
  height: 30px;
  border: solid;
  border-width: 1px  ;
border-color: white;
border-radius: 20px 20px 20px 20px;
margin-bottom: 10px;
position: relative;
bottom: 7.8em;
 }
/* size clock but I don't know how to place it*/
 .montre1 {
  width: 1px;
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 200px;
  margin-right: 50px;
  padding: 1px;
  position: relative;
  bottom: 0.3em; left: 0.01em;
  /*margin: 0px 0px 0px 200px; */
  
 }
 .montre {
  width: 18px;
  height: 18px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 50px;
  padding: 1px;
 }
 .prix {
  font-family:'Outfit', sans-serif;
  /*font-weight: bold;*/
  font-size: 15px; 
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  left: 1.5em; bottom: 10.5em;

 }

 .days {
   font-size: 16px;
   font-family: 'Outfit', sans-serif;
   font-weight: 400;
   position: relative;
   bottom: 3.3em; left: 15em;
   color: hsl(215, 51%, 70%);
 }

 .author {
  font-size: 15px; 
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  position: relative;
  bottom: 1.5em; left: 3.4em;
  color: hsl(215, 51%, 70%);
 }

 .name {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  position: relative;
  bottom: 3.75em; left: 8.7em;
 }
  
  
  